<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <p class="copyright-text">&copy; 2023 by Raghda</p>
            </div>
        </div>
    </footer>
</body>

</html>