<!DOCTYPE html>
<html>
      <head>
           <title></title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
        <nav class="navbar">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="logo"><a href="/">Educational <span>Website</span></a></div>
                  <div class="links">
                  <ul class="menu">
                      <li class="nav-item"><a href="/" class="nav-link active">Home <span></span></a></li>
                      <li class="nav-item"><a href="/aboutus" class="nav-link">About <span></span></a></li>
                      <li class="nav-item"><a href="/service" class="nav-link">Services <span></span></a></li>
                      <li class="nav-item"><a href="/login" class="nav-link">Login <span></span></a></li>
                      <li class="nav-item"><a href="/signup" class="nav-link">Signup <span></span></a></li>
                  </ul>
                  </div>
              </div>
          </div>
      </nav>
      </body>
</html>